.cont {
  display: flex;
  flex-direction: row;
  background-image: url("../images/backgroundHexTop.png");
  background-size: cover;
  background-position: center;
  margin-left: 150px;
}

.cont1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100vh;
  width: 50%;
}

.cont2 {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 50%;
  /* background-image: url("../images/paris.jpeg");
  background-size: cover;
  background-position: center; */
}

.h2 {
  font-weight: 800;
  font-size: 70px;
  color: #b1e5f2;
  margin-left: 15vh;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.p {
  margin-left: 15vh;
  margin-bottom: 4vh;
  margin-right: 15vh;
}

.p1 {
  margin-left: 15vh;
  margin-bottom: 4vh;
  margin-right: 15vh;
}

.p2 {
  margin-left: 15vh;
  margin-bottom: 4vh;
  margin-right: 15vh;
}

.profilePic {
  margin-left: 15vh;
  width: 450px;
  height: auto;
  box-shadow: rgb(44, 44, 44) 10px -10px 0px -3px, #b1e5f2 10px -10px,
    rgb(44, 44, 44) 20px -20px 0px -3px, #b1e5f2 20px -20px,
    rgb(44, 44, 44) 30px -30px 0px -3px, #b1e5f2 30px -30px,
    rgb(44, 44, 44) 40px -40px 0px -3px, #b1e5f2 40px -40px;
}
