.container {
  background-image: url("../images/background.jpg");
  background-size: cover;
  width: 92vw;
  height: 100%;
}

.Howie {
  font-weight: 800;
  font-size: 80px;
  color: rgb(245, 245, 245);
  padding-top: 12%;
  padding-left: 50px;
}

.button {
  font-size: 20px;
  background-color: transparent;
  color: rgb(128, 251, 226);
  border: 1px solid rgb(128, 251, 226);
  padding: 15px 40px 15px 40px;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 75px;
  transition: 1s ease-in-out;
}

.button:hover {
  background-color: rgb(128, 251, 226);
  transition: 1s ease-in-out;
  color: black;
}
